<configuration>
    <system.webServer>
        <rewrite>
        <rules>
                <rule name="keepDemo" stopProcessing="true">
    <match url="^demo/" />
    <action type="None" />
</rule>
                <rule name="keepimg" stopProcessing="true">
    <match url="^img/" />
    <action type="None" />
</rule>
                <rule name="keepvendor" stopProcessing="true">
    <match url="^vendor/" />
    <action type="None" />
</rule>
                <rule name="keepdeviceOrientation" stopProcessing="true">
    <match url="^DeviceOrientationControlMethod.js/" />
    <action type="None" />
</rule>
                <rule name="keepindexJs" stopProcessing="true">
    <match url="^index.js/" />
    <action type="None" />
</rule>
            <rule name="redirect all requests" stopProcessing="true">
                <match url="^(.*)$" ignoreCase="false" />
                <conditions logicalGrouping="MatchAll">
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
                </conditions>
                <action type="Rewrite" url="index.html" appendQueryString="true" />
            </rule>
        </rules>
    </rewrite>
    </system.webServer>
</configuration>